# ChromaDB
CHROMA_PATH=./chroma_db
CHROMA_COLLECTION_CLIP=artworks_clip
CHROMA_COLLECTION_TOWER=artworks_tower

# artifacts
MAPPING_PATH=./artifacts/mappings/piece_index.json
IDX2PIECE_PATH=./artifacts/mappings/idx_to_piece.json
SASREC_CKPT=./artifacts/checkpoints/BEST_SASRec_model.pth
TWOTOWER_CKPT=./artifacts/checkpoints/BEST_TwoTower_model.pth

# CLIP
CLIP_MODEL_NAME=openai/clip-vit-base-patch32
DEVICE=cuda

# service
MAX_LEN=50
TOPK=20
CHROMA_CANDIDATES=200

# optional backend
# BACKEND_RECO_URL=http://your-backend/reco/ingest
